/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
    letter-spacing: 0.2px;
}
.page-content {
    padding: 30px 16px 16px;
}

.page-title {
    font-size: 16px;
    font-weight: 500;
    color: #374151;
    margin-bottom: 5px;
}
.line {
    width: 30px;
    height: 2px;
    content: "";
    background: #4845ed;
    margin-bottom: 20px;
}
.from-title {
    font-size: 16px;
    font-weight: 500;
    color: #6b7280;
    margin: 0 !important;
    word-break: break-all;
}
.to-title {
    font-size: 28px;
    font-weight: 600;
    color: #374151;
    line-height: 2;
    word-break: break-all;
}
.converter-body {
    width: 100%;
    margin-top: 30px;
}
.filter {
    width: 100%;
    margin-bottom: 10px;
}
.legend {
    font-size: 14px;
    font-weight: 500;
    color: #6b7280;
    span {
        background: #ebf5ff;
        border-radius: 10px;
        color: #4845ed;
        font-weight: 800;
        font-size: 11px;
        margin-left: 5px;
        padding: 3px 15px;
    }
}
